.container {
	display: flex;
	align-items: center;
	gap: 100px;
}

.item {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.title {
	font-size: 45px;
	background: linear-gradient(to bottom, #0d6147, #b6f3dcac);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.img {
	width: 66%;
	height: 500px;
	object-fit: cover;
}

.desc {
	font-size: 14px;
	font-weight: 300;
}

.button {
	padding: 15px;
	cursor: pointer;
	background-color: #125a44;
	border: none;
	border-radius: 5px;
	width: max-content;
	color: white;
}
